<app-slider [name]="'Movies'" [size]="'small'"></app-slider>

<div class="center">
  <section id="content">

    <div id="favorite" *ngIf="favorite">
      <h3 class="subheader">Favorite Film</h3>
      <h4>{{favorite.title}}</h4>
      <div>
        <img class="img-movies" src={{favorite.image}} alt={{favorite.title}}>
      </div>
    </div>

    <h2 class="subheader" *ngIf="movies">Choose your favorite movie</h2>
    <div id="articles">
      <!-- List of Articles -->
      <div *ngFor="let movie of movies">
        <app-film [movie]="movie" (selectAsFavorite)= "showFavorite($event)"></app-film>
      </div>
    </div>
  </section>
  <app-sidebar></app-sidebar>
</div>
